.nav-link{
    color: white;
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    font-size: 30px;
    font-style: italic;
}
nav-link:hover{
    background-color: red;
}
a{
    text-decoration: none;
}
#Home:hover{
    color: red;
}
#About Us:hover{
    color: red;
}
#Activities:hover{
    background-color: red;
}
#Contact:hover{
    background-color: red;
}
#Courses:hover{
    background-color: red;
}
#Intakes:hover{
    background-color: red;
}
#Mobigirlz:hover{
    background-color: red;
}
#Ajira Digital:hover{
    background-color: red;
}
#Scholarships:hover{
    background-color: red;
}
